
.upload-area.drag-over {
    background: #d0eaff;
    border-color: #3399ff;
}

button#exportCSV {
    margin-top: 0.5rem;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    background-color: #ffc107;
    border: none;
    border-radius: 8px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

button#exportCSV:hover {
    background-color: #e0a800;
}
